@model MatrizTributaria.Models.Usuario
@{
    ViewBag.Title = "Usuario";
}

<div class="container-fluid pr-container pr-card-cad">
    <div class="card mt-2">
        <div class="card-header">
            Cadastro de Usuários - DELETE
        </div><!--fim do cabeçalho-->
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group row">
                                    <div class="col-md-offset-2 col-md-12">

                                        <div style="background-color: ButtonFace; border-radius:0.4em; width:100%;" class="mb-2">
                                            <div id="pr-botoes" class="btn-group border-0" role="group" aria-label="Grupo de botões com dropdown aninhado">
                                                <button type="submit" class="btn btn-secondary pr-botoes-fundo border-0"><i style="font-size:1.5em;" class="fas fa-save"></i>Excluir</button>
                                                <a class="btn btn-secondary pr-botoes-fundo border-0 " href="@Url.Action("Index", @ViewBag.Title)"><i style="font-size:1.5em;" class="fas fa-ban"></i>Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-warning" role="alert">
                                    Deseja realmente excluir esse Registro?
                                </div>

                                <div class="form-group row ">
                                    <div class="col-lg-6">
                                        <div class="form-group row col-lg-12 pl-3 ">
                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="id">Id</label>

                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(m => m.id, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>
                                        </div>

                                        <div class="form-group row col-lg-12 pl-3">
                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="nome">Nome</label>

                                            <div class="col-lg-6">
                                                @Html.TextBoxFor(m => m.nome, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">
                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="email">Email</label>

                                            <div class="col-lg-4">
                                                @Html.TextBoxFor(m => m.email, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">
                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="logradouro">Logrdouro</label>

                                            <div class="col-lg-5">
                                                @Html.TextBoxFor(m => m.logradouro, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">
                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="numero">Número</label>

                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(m => m.numero, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">

                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="cidade">Cidade</label>

                                            <div class="col-lg-5">
                                                @Html.TextBoxFor(m => m.cidade, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">
                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="estado">Estado</label>

                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(m => m.estado, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group row col-lg-12 pl-3">
                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="cep">CEP</label>

                                            <div class="col-lg-3">
                                                @Html.TextBoxFor(m => m.cep, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">

                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="fone">Telefone</label>

                                            <div class="col-lg-3">
                                                @Html.TextBoxFor(m => m.telefone, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">

                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="nivel">Nivel</label>

                                            <div class="col-lg-4">
                                                @Html.TextBoxFor(m => m.nivel.descricao, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">

                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="telefone">Empresa</label>

                                            <div class="col-lg-4">
                                                @Html.TextBoxFor(m => m.empresa.razacaosocial, new { @class = "form-control pr-fonte", @disabled = "disabled" })
                                            </div>



                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">

                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="ativo">Ativo</label>

                                            <div class="col-lg-3">
                                                <span class="pr-fonte">Sim: @Html.RadioButtonFor(m => m.ativo, 1, new { @disabled = "disabled" })</span>
                                                <span class="pr-fonte">Não: @Html.RadioButtonFor(m => m.ativo, 0, new { @disabled = "disabled" })</span>
                                            </div>


                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">

                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="datacad">Data Cad</label>

                                            <div class="col-lg-3">
                                                <input class="form-control pr-fonte" disabled="disabled" id="datacad" name="datacad" type="text" value="@Convert.ToDateTime(@ViewBag.DataCad).ToShortDateString()" />
                                            </div>


                                        </div>
                                        <div class="form-group row col-lg-12 pl-3">

                                            <label class="col-form-label col-lg-2 pl-1 pr-fontalternativa" for="datacad">Data Alt</label>

                                            <div class="col-lg-3">
                                                <input class="form-control pr-fonte" disabled="disabled" id="dataalt" name="dataalt" type="text" value="@Convert.ToDateTime(@ViewBag.DataAlt).ToShortDateString()" />
                                            </div>


                                        </div>

                                    </div>
                                   
                                    


                                </div> <!--Fim div-->
                                    }


                                </div><!--fim do container da tabela-->
                    </div><!--Fim da coluna de 10-->
                </div><!--fim da linha-->
            </div><!--Fim do container do body do card-->
        </div><!--fim do body do card-->
    </div><!--Fim do card-->
</div><!--Fim do container-->
