<div class="container-fluid">
    <div class="row">

        <!--Mensagem de salvar-->
        @if (@ViewBag.MensagemGravar != "")
        {
            if (ViewBag.MensagemGravar == "Registro Salvo com Sucesso!!")
            {
                <div class="alert alert-success alert-dismissible fade show form-group col-lg-8 mt-1" role="alert">
                    @if (@ViewBag.RegSalvos != "0")
                    {
                        if (@ViewBag.RegNSalvos != "0")
                        {
                            <span>@ViewBag.MensagemGravar Qtd de Registros ATUALIZADOS: @ViewBag.RegSalvos -  Não Atualizados:@ViewBag.RegNSalvos </span>

                        }
                        else
                        {
                            <span>@ViewBag.MensagemGravar Qtd de Registros ATUALIZADOS: @ViewBag.RegSalvos</span>
                        }
                    }
                    else
                    {
                        <span>@ViewBag.MensagemGravar Não Atualizados:@ViewBag.RegNSalvos </span>

                    }

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            }
            else
            {
                <div class="alert alert-warning alert-dismissible fade show form-group col-lg-5 mt-1" role="alert">
                    <span>@ViewBag.MensagemGravar</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }


        }
    </div>

    <div class="row">

        <!--Parte de procura-->
        <div class="form-group col-lg-6 p-1">
            <label class="pr-fontalternativa">Produto</label>
            <div class="input-group input-group-sm">
                @if (ViewBag.FiltroCorrente == null)
                {
                    @Html.TextBox("ProcurarPor", null, new { @class = "form-control form-control-sm", onkeyup = "maiuscula(this);", placeholder = "Digite produto ou cód. de barras" }) }
                else
                {
                    @Html.TextBox("ProcurarPor", (string)ViewBag.FiltroCorrente, new { @class = "form-control form-control-sm", onkeyup = "maiuscula(this);", placeholder = "Digite produto ou cód. de barras" })}
                <div class="input-group-append">
                    <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addon2">
                        <i style="font-size:1.3em;" class="fas fa-search"></i>
                    </button>
                </div><!--fim do appende-->
            </div><!--fim div input-->
        </div><!--fim coluna de 5-->

        @if (ViewBag.FiltrarPor == "Setor")
        {
            <div class="form-group col-lg-6 p-1">
                <label class="pr-fontalternativa">Setor</label>

                <div class="input-group input-group-sm">
                    @if (ViewBag.FiltroCorrenteSetor == null)
                    {

                        <select class="form-control form-control-sm dropdown prn-select" id="ProcuraSetor" name="ProcuraSetor">
                            <option value="null">Escolha um Setor</option>
                            @foreach (var item in ViewBag.SetorProdutos)
                            {
                                if (item.id == ViewBag.FiltroCorrenteSetorInt)
                                {
                                    <option selected value="@item.id">@item.descricao</option>
                                }
                                else
                                {
                                    <option value="@item.id">@item.descricao</option>
                                }

                            }
                        </select>


                        @*@Html.DropDownList("ProcuraSetor", new SelectList(ViewBag.SetorProdutos, "id", "descricao"), null, new { @class = "form-control form-control-sm dropdown prn-select" })*@

                    }
                    else
                    {
                        <select class="form-control form-control-sm dropdown prn-select" id="ProcuraSetor" name="ProcuraSetor">
                            <option value="null">Escolha um Setor</option>
                            @foreach (var item in ViewBag.SetorProdutos)
                            {
                                if (item.id == ViewBag.FiltroCorrenteSetorInt)
                                {
                                    <option selected value="@item.id">@item.descricao</option>
                                }
                                else
                                {
                                    <option value="@item.id">@item.descricao</option>
                                }

                            }
                        </select>

                        @*@Html.DropDownList("ProcuraSetor", new SelectList(ViewBag.SetorProdutos, "id", "descricao"), null, new { @class = "form-control form-control-sm dropdown prn-select" })*@
                    }
                    <div class="input-group-append">
                        <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addonCest">
                            <i style="font-size:1.3em;" class="fas fa-search"></i>
                        </button>
                    </div><!--fim do appende-->
                </div><!--fim div input-->
            </div><!--fim coluna 2-->
        }
        else
        {
            <div class="form-group col-lg-6 p-1">
                <label class="pr-fontalternativa">Categoria</label>

                <div class="input-group input-group-sm">
                    @if (ViewBag.FiltroCorrenteCate == null)
                    {

                        <select class="form-control form-control-sm dropdown prn-select" id="ProcuraCate" name="ProcuraCate">
                            <option value="null">Escolha uma Categoria</option>
                            @foreach (var item in ViewBag.CategoriaProdutos)
                            {
                                if (item.id == ViewBag.FiltroCorrenteCateInt)
                                {
                                    <option selected value="@item.id">@item.descricao</option>
                                }
                                else
                                {
                                    <option value="@item.id">@item.descricao</option>
                                }

                            }
                        </select>


                        @*@Html.DropDownList("ProcuraSetor", new SelectList(ViewBag.SetorProdutos, "id", "descricao"), null, new { @class = "form-control form-control-sm dropdown prn-select" })*@

                    }
                    else
                    {
                        <select class="form-control form-control-sm dropdown prn-select" id="ProcuraCate" name="ProcuraCate">
                            <option value="null">Escolha uma Categoria</option>
                            @foreach (var item in ViewBag.CategoriaProdutos)
                            {
                                if (item.id == ViewBag.FiltroCorrenteCateInt)
                                {
                                    <option selected value="@item.id">@item.descricao</option>
                                }
                                else
                                {
                                    <option value="@item.id">@item.descricao</option>
                                }

                            }
                        </select>

                        @*@Html.DropDownList("ProcuraSetor", new SelectList(ViewBag.SetorProdutos, "id", "descricao"), null, new { @class = "form-control form-control-sm dropdown prn-select" })*@
                    }
                    <div class="input-group-append">
                        <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addonCest">
                            <i style="font-size:1.3em;" class="fas fa-search"></i>
                        </button>
                    </div><!--fim do appende-->
                </div><!--fim div input-->
            </div><!--fim coluna 2-->
        }





    </div>
    <div class="row">
        <div class="form-group col-lg-2 p-1">
            <label class="pr-fontalternativa">Cest</label>
            <div class="input-group input-group-sm">
                @if (ViewBag.FiltroCorrenteCEST == null)
                {
                    @Html.TextBox("ProcuraCEST", null, new { @class = "form-control form-control-sm", onkeyup = "maiuscula(this);", placeholder = "Digite o Cest", id = "cest" }) }
                else
                {
                    @Html.TextBox("ProcuraCEST", (string)ViewBag.FiltroCorrenteCEST, new { @class = "form-control form-control-sm", onkeyup = "maiuscula(this);", placeholder = "Digite o Cest", id = "cest" })
                }
                <div class="input-group-append">
                    <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addonCest">
                        <i style="font-size:1.3em;" class="fas fa-search"></i>
                    </button>
                </div><!--fim do appende-->
            </div><!--fim div input-->
        </div><!--fim coluna 2-->


        <div class="form-group col-lg-2 p-1">
            <label class="pr-fontalternativa">NCM</label>
            <div class="input-group input-group-sm">
                @if (ViewBag.FiltroCorrenteNCM == null)
                {
                    @Html.TextBox("ProcuraNCM", null, new { @class = "form-control form-control-sm", onkeyup = "maiuscula(this);", placeholder = "Digite o NCM" }) }
                else
                {
                    @Html.TextBox("ProcuraNCM", (string)ViewBag.FiltroCorrenteNCM, new { @class = "form-control form-control-sm", onkeyup = "maiuscula(this);", placeholder = "Digite NCM" })}
                <div class="input-group-append">
                    <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addonNcm">
                        <i style="font-size:1.3em;" class="fas fa-search"></i>
                    </button>
                </div><!--fim do appende-->
            </div><!--fim div input-->
        </div><!--fim coluna 2-->


        <div class="form-group col-lg-3 p-1">
            <label class="pr-fontalternativa">Auditados NCM</label>
            <div class="input-group input-group-sm">
                <select class="pr-fontalternativa form-control form-control-sm dropdown prn-select" id="auditadosNCM" name="auditadosNCM">
                    @if (ViewBag.FiltroCorrenteAuditado == "2")
                    {

                        <option value="2" selected>Todos</option>
                        <option value="1">Auditados</option>
                        <option value="0">Não Auditados</option>

                    }
                    else
                    {
                        if (ViewBag.FiltroCorrenteAuditado == "1")
                        {
                            <option value="2">Todos</option>
                            <option value="1" selected>Auditados</option>
                            <option value="0">Não Auditados</option>

                        }
                        else
                        {
                            <option value="2">Todos</option>
                            <option value="1">Auditados</option>
                            <option value="0" selected>Não Auditados</option>
                        }
                    }

                </select>
                <div class="input-group-append">
                    <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addonLinha">
                        <i style="font-size:1.3em;" class="fas fa-check-circle"></i>
                    </button>
                </div><!--fim do appende-->
            </div><!--fim div input-->
        </div><!--fim coluna 2-->



        <div class="form-group col-lg-2 p-1">
            <label class="pr-fontalternativa">Linhas</label>
            <div class="input-group input-group-sm">
                <select class="pr-fontalternativa form-control form-control-sm dropdown prn-select" id="numeroLinhas" name="numeroLinhas">
                    @if (ViewBag.NumeroLinhas == 10)
                    {

                        <option selected>10</option>
                        <option>20</option>
                        <option>30</option>

                    }
                    else
                    {
                        if (ViewBag.NumeroLinhas == 20)
                        {
                            <option>10</option>
                            <option selected>20</option>
                            <option>30</option>

                        }
                        else
                        {
                            <option>10</option>
                            <option>20</option>
                            <option selected>30</option>
                        }
                    }

                </select>
                <div class="input-group-append">
                    <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addonLinha">
                        <i style="font-size:1.3em;" class="fas fa-check-circle"></i>
                    </button>
                </div><!--fim do appende-->
            </div><!--fim div input-->
        </div><!--fim coluna 2-->

        <div class="form-group col-lg-3 p-1">
            <label class="pr-fontalternativa">Filtro por</label>
            <div class="input-group input-group-sm">
                <select class="pr-fontalternativa form-control form-control-sm dropdown prn-select" id="filtraPor" name="filtraPor">
                    @if (ViewBag.FiltrarPor == "Setor")
                    {

                        <option selected>Setor</option>
                        <option>Categoria</option>
                     

                    }
                    else
                    {
                        <option>Setor</option>
                        <option selected>Categoria</option>
                        
                    }

                </select>
                <div class="input-group-append">
                    <button data-toggle="tooltip" data-placement="right" title="Localizar" class="btn btn-secondary pr-botoes-fundo" type="submit" id="button-addonLinha">
                        <i style="font-size:1.3em;" class="fas fa-check-circle"></i>
                    </button>
                </div><!--fim do appende-->
            </div><!--fim div input-->
        </div><!--fim coluna 2-->


    </div>

</div>

