@using PagedList.Mvc
@model PagedList.IPagedList<MatrizTributaria.Models.TributacaoGeralView>
@{
    ViewBag.Title = "EditCstVendaAtaSNMassa";
}

<div class="container-fluid pr-container pr-card-cad">
    <div class="card mt-2">
        <div class="card-header">
            Alterar Cst Venda no Atacado para Simples Nacional : Registros  "@ViewBag.Opcao"
            @RenderPage("~/Views/Acoes/BotaoHome.cshtml") <!--Renderiza os botões de ação-->
            <a data-toggle="tooltip" data-placement="right" title="Ir para gráficos" class="float-lg-right dis-block btn btn-secondary pr-botoes-fundo border-0" href="@Url.Action("GraficoCstSaida","Tributacao")"><i style="font-size:1.5em;" class="fas fa-chart-pie"></i>  </a>
            <button data-toggle="tooltip" data-placement="right" title="Alterar Selecionado(s)" type="button" id="editarSelecionadosCstVendaAtaSN" class="float-lg-right dis-block btn btn-secondary pr-botoes-fundo border-0"> <i style="font-size:1.5em;" class="fas fa-edit"></i></button>

        </div><!--fim do cabeçalho-->
        <div class="card-body">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="container-fluid">
                            @using (Html.BeginForm("EditCstVendaAtaSNMassa", "Tributacao", FormMethod.Get))
                            {

                        @RenderPage("~/Views/Acoes/CamposComunsCST.cshtml") <!--Renderiza os botões de ação-->}

                            <div class="row">
                                <div class="col-lg-12">
                                    <table style="border-bottom: 1px solid #111;" class="table table-striped table-hover table-graficos" id="table-graficosCstVendaAtaSN">
                                        @RenderPage("~/Views/Acoes/TheadPadrao.cshtml") <!--Renderiza o head padrao-->
                                        <!--Corpo da Tabela-->
                                        <tbody>
                                            @foreach (var item in Model)
                                            {

                                    <tr class="pr-td">
                                        <td style="width:3%" class="prn-borderEspecial2">
                                            @Html.DisplayFor(modelItem => item.ID)
                                        </td>
                                        <td style="width:10%" class="prn-borderEspecial2">
                                            @Html.DisplayFor(modelItem => item.COD_BARRAS_PRODUTO)
                                        </td>
                                        <td style="width:20%" class="prn-borderEspecial2">
                                            @Html.DisplayFor(modelItem => item.DESCRICAO_PRODUTO)
                                        </td>
                                        <td class="text-center prn-borderEspecial2" style="width:5%">
                                            @Html.DisplayFor(modelItem => item.CST_VENDA_ATA_SIMP_NACIONAL)
                                        </td>
                                        <td class="text-left prn-borderEspecial2" style="width:20%">
                                            @foreach (var it in ViewBag.CstGeral)
                                            {
                                                if (item.CST_VENDA_ATA_SIMP_NACIONAL == it.codigo)
                                                {
                                    @it.descricao}

                            }
                                        </td>

                                        <td style="width:5%" class="prn-borderEspecial2">
                                            @Html.DisplayFor(modelItem => item.CEST_PRODUTO)
                                        </td>
                                        <td style="width:5%" class="prn-borderEspecial2">
                                            @Html.DisplayFor(modelItem => item.NCM_PRODUTO)
                                        </td>


                                    </tr>}
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                            <!--Tabela-->
                            <!--Rodape-->
                            <div class="d-flex">
                                <div class="mr-auto p-2">
                                    <p class="pr-fontanternativa">
                                        <span class="pr-fontalternativa"> Página @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount - Total de registros: @Model.TotalItemCount</span>
                                    </p>
                                </div>

                                <div style="float:right;" class="p-2 pr-fontalternativa">
                                    @Html.PagedListPager(
                                         Model, page => Url.Action("EditCstVendaAtaSNMassa",
                                         new
                                         {
                                             page,
                                             filtroCorrente = ViewBag.FiltroCorrente,
                                             filtroCorrenteCST = ViewBag.FiltroCorrenteCST,
                                             numeroLinhas = ViewBag.NumeroLinhas,
                                             filtroCorrenteNCM = ViewBag.FiltroCorrenteNCM,
                                             filtroCorrenteCEST = ViewBag.FiltroCorrenteCEST,
                                             opcao = TempData["opcao"].ToString()
                                         }),
                                         new PagedListRenderOptions()
                                         {
                                             LiElementClasses = new List<string>
                                             {
                                            "page-item"
                     }
                                         }

                                         )


                                </div>
                            </div>


                        </div><!--Fim do container da coluna-->
                    </div><!--fim da coluna de 10-->
                </div><!--fim da linha-->

            </div><!--Fim do container do body do card-->
        </div><!--fim do body do card-->
        <div class="card-footer">
            Linha(s) selecionada(s) + :&nbsp; <i style="font-size:1.3em;" class="fas fa-user-edit"></i> = Edição em massa informando CST manualmente <br />
        </div>
    </div><!--Fim do card-->
</div><!--Fim do container-->
